<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/myScripts/grid.js" defer></script>
    <%- include('includes/meta.ejs')%>
        <link rel="stylesheet" href="/myStyles/feeds.css">
        <link rel="stylesheet" href="/myStyles/cardStyle.css">
        <link rel="stylesheet" href="/myStyles/cardTheme.css">
</head>

<%- include('includes/header.ejs')%>

    <body>

        <main>
            <section id="feed-section">
                <h2>Top Feeds</h2>
                <ul id="feed-wrapper">
                    <% for(article of articles) { %>
                        <% addLine(article) %> 
                        <li class="feed-item">
                    <article>
                        <div class="feed-text">
                            <%  %> 
                            <p> 
                                <% for(line of article.contant) { %>
                                    <%= line %>
                                    <br>
                                <% } %>
                            </p>
                        </div>
                        <div class="feed-title">
                            <h3>
                                <a href= /feeds/<%= article.id %>><%= article.title %></a>
                            </h3>
                            
                        </div>
                        <div>

                        </div>
                    </article>
                </li>
                    
                    <% } %>
                </ul>
            </section>
        </main>
        <%- include('includes/footer.ejs')%>
    </body>

</html>